@import url('https://fonts.googleapis.com/css2?family=Eater&family=Flavors&family=Jolly+Lodger&display=swap');

:root{
    --primary-dark: #3C1518;
    --second-dark: #69140E;
    --primary-light: #FBFEF9;
    --color-one: #ff2a00;
    --color-two: #fff0f0;
}

body{
    background-image: url(../images/halloween.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter:blur(8px);
    font-family: Eater, "Jolly Lodger", Flavors, arial;
    margin: 0;
}

#wrapper{
    background-image: url(../images/vintage-scroll-hr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1400px 2300px;
    color: black;
    width: 600px;
    margin: 0 auto;
    padding: 300px 100px;
}

ul{
    list-style-type: none;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto;
    padding: 0;
    margin-bottom: 150px;
}

ul li{
    background-image: url(../images/starburst-explosion.png);
    background-size:180px 90px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit:cover;
    width:100;
    padding: 30px 15px;
    font-size: 30px;
    color:black;
    text-align:center;
}

main h1{
    text-align:center;
    position: absolute;
    margin: 40px 100px;
    z-index: 2;
    color:var(--color-two);
    text-shadow: 0 0 2px var(--color-one);
    text-shadow: 0 0 4px var(--color-one);
    font-size: 40px;
}

ul li:nth-child(1){
    transform: rotate(-6deg);
}
ul li:nth-child(2){
    transform: rotate(5deg);
}
ul li:nth-child(3){
    transform: rotate(3deg);
}
ul li:nth-child(4){
    transform: rotate(-5deg);
}

main img{
    mask-image: url(../images/grundge-filter.png);
    mask-size: contain;
    filter: grayscale(50%);
    width: 600px;
    margin: -200px 0 -20px 0;
}

main section{
    padding:0 40px;
}
main p{
    font-family: "Jolly Lodger", arial, sans-serif;
    font-size: 20px;
}
footer{
    justify-self: right;
    font-family: Flavors, "Jolly Lodger", arial;
}