@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

:root{
    --heading-font: "Finger Paint", Helvetica, sans-serif;
    --paragraph-font: Neuton, Helvetica, sans-serif;
}

#content{
    max-width:1600px;
    margin: 0px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color:#DDE5B6;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
    color:#fffae5;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
}

body{
    background-color:#DDE5B6;
    color:#5a493f;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color:#5a493faa;
    color:#fffae5;
    display:grid;
    grid-template-columns: 150px auto;
}
nav a:hover{
    background-color:#414b25;
    color:#dfae88;
}

.book, .join{
    background-color: #414b25;
    color:#dfae88;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover
{
    background-color:#414b25;
    color:#dfae88;
}

#background{
    background-color:#5a493f;
    color:#fffae5;
    grid-area:4/1/9/11;
}

.msg{
    background-color:#414b25;
    color:#5a493f;
    padding: 35px;
    grid-area:6/6/7/10;
    box-shadow: 5px 5px 10px black;
}

footer{
    background-color:#DDE5B6;
    color:#5a493f;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title{
    font-family: var(--heading-font);
    color:#5a493f;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color:#5a493f;
}

.msg h2{
    font-family: var(--heading-font);
    color:#fffae5;
}

.msg p{
    color:#fffae5;
    font-size: 0.8em;
    padding-bottom: 15px;
}


footer a{
    color:#5a493f;
    text-decoration: none;
}

footer a:hover{
    color:#414b25;
}

.icon{
    width:80px;
    padding-top: 10px;
}

.logo{
    width:80px;
}

#hero-img{
    width:100%;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}    

h2 {
    margin: 0;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img{
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.rivers-card{
    grid-area: 2/2/3/4; 
}
.camping-card{
    grid-area: 2/5/3/7; 
}
.rapids-card{
    grid-area: 2/8/3/10; 
}

.card-img{
    border:10px solid #5a493f;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    width: 100%;
    grid-area: 5/2/8/7;
    box-shadow: 5px 5px 10px black;
}

main section img{
    box-sizing: border-box;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}