@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cal+Sans&family=Metrophobic&display=swap');

/*
title: Cal Sans
text sans serif: Metrophobic
test serif: Bodoni Moda

Color scheme-
space cadet: #2D3147
naples yellow: #F9DC5C
light coral: #F7717D
mint cream: #F4FFFD

Icons-
<i class="fa-solid fa-icicles"></i>
<i class="fa-solid fa-water"></i>
<i class="fa-solid fa-user"></i>

<i class="fa-solid fa-arrow-right"></i>
<i class="fa-solid fa-arrow-left"></i>

<i class="fa-solid fa-magnifying-glass"></i>
*/

:root{
    --spaceCadet: #2D3147;
    --naplesYellow: #F9DC5C;
    --lightCoral: #F7717D;
    --softCoral: #f7717c57;
    --mintCream: #F4FFFD;
}

body{
    background-color: black;
    color: var(--mintCream);
    margin:0;
    font-family:Metrophobic, "Bodoni Moda", Arial;
}

/* Header */

.navBar{
    display:grid;
    grid-template-columns: 100px 100px 1fr;
    background-color: black;
}

.navBar h1{
    font-size: 35px;
}

.logo{
    width:100px;
    justify-self: left;
}

.logo:hover{
    filter:sepia(2) brightness(.9) saturate(10);
}

nav{
    margin: 15px 10%;
    padding: 20px 0;
    justify-self:right;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav a i{
    color: var(--lightCoral);
    font-size:30px;
    margin: 0 20px;
    padding:0 10px;
}

nav a i:hover{
    color: var(--naplesYellow);
}

nav a:not(:last-child){
    border-right: 3px solid var(--lightCoral);
}

header a{
    justify-self:center;
}

.hero{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:black;
    padding:10px 10px 0 0;
}

.hero-msg{
    background-color: var(--lightCoral);
    box-shadow: 0 0 70px 0 var(--softCoral);
    margin: 20px -10px 20px -6em;
    padding:20px;
    color:black;
    max-height:fit-content;
    align-self: center;
}

.hero-msg h1{
    font-size: 40px;
}

.heroImage{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
    overflow:visible;
}

.hero button{
    border: 2px solid black;
    padding:8px;
    background-color: var(--lightCoral);
}

.hero button:hover{
    border: 2px solid black;
    padding:8px;
    background-color: var(--naplesYellow);
}

.roles-section{
    background-color: var(--spaceCadet);
    box-shadow: 0 0 50px var(--spaceCadet);
    min-height:300px;
    padding: 50px 0 100px 0;
}

.line{
    background-color: var(--mintCream);
    height:10px;
}

.container{
    background-color: var(--spaceCadet);
    margin: -40px 0 0 0;
    padding: 10px;
    width: fit-content;
    height:50px;
    justify-self: center;
}

.roles-section header h2{
    font-family: "Cal Sans", Metrophobic, "Bodoni Moda", Arial;
    text-align: center;
    font-size: 40px;
    margin:0;
}

.roles{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.roles div{
    margin:1em;
    text-align:center;
}

.roles div img{
    display:block;
    width:250px;
    border-radius: 100%;
    margin: 0 auto;
}

.roles h2, .roles p{
    margin: 10px 0 10px 0;
}

img{
    width:100px;
}

a{
    color:var(--mintCream);
}

.projects{
    padding:50px 10px 10px 10px;
}

.projects header{
    text-align:center;
    font-size:20px;
}

.projects header h3{
    font-size: 40px;
    font-family: "Cal Sans", Metrophobic, "Bodoni Moda", Arial;
    margin: 38px 10px;
}

.container-2{
    background-color: black;
    margin: -72px 0 0 0;
    padding: -30px 10px 0 10px;
    width: fit-content;
    height: 60px;
    justify-self: center;
}

.projects form{
    width:350px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.projects form input{
    justify-self: left;
    margin:5px;
}

.projects form label{
    justify-self: right;
    margin:5px;
}

.projects form .submit{
    grid-column: 1/3;
    width:100px;
    justify-self: center;
    color:white;
    background-color: black;
    border: 2px solid black;
    font-size: 18px;
}

.projects form .submit:hover{
    background-color: rgb(32, 32, 32);
    border: 2px solid var(--lightCoral);
}

.projects form .submit:focus{
    border: 2px solid var(--naplesYellow);
}

.projects form .name{
    border: 0;
    border-bottom: 2px solid var(--lightCoral);
    background-color: black;
    color: white;
}

.projects form .name:hover{
    border: 0;
    border-bottom: 2px solid var(--lightCoral);
    background-color: rgb(32, 32, 32);
    color: white;
}

.projects form .name:focus{
    border-bottom: 2px solid var(--naplesYellow);
    background-color: black;
    color: white;
}

.type, .type{
    background-color: black;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    height:fit-content;
}

.cards div{
    background-color: var(--lightCoral);
    box-shadow: 0 0 70px 0 var(--softCoral);
    margin:20px;
    width:200px;
    height:350px;
    color:black;
    text-align:center;
    padding:10px;
    transition: margin .2s, width .2s, font-size .2s, height .2s;
    font-size:15px;
}

.cards div h5{
    font-size: 1.5em;
    margin: 10px;
}

.cards div:hover{
    margin:10px;
    width:220px;
    height:370px;
    font-size:17px;
}

.cards div img{
    width: 100%;
}

.cards div img:hover{
    filter:brightness(1.2);
}

footer{
    margin:10px 25px 30px 25px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

footer h6{
    font-size:20px;
    margin: 16px;
}

ul{
    list-style-type: none;
    padding: 0; 
}

tbody td{
    padding:0 10px 0 10px;
}

.bioBG{
    width:100%;
}

.bioH{
    justify-self: center;
}

.bioP{
    margin:50px;
    margin-bottom: 200px;
}