div {
    background-color: lightblue;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
}

.first{
    grid-column:1/3;
}

.second{
    grid-column:3/5;
}

.third{
    background-color: purple;
    grid-column:1/-1;
}

.fourth{
    font-weight: bold;
    grid-column: 4/6;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

#red {
    background-color:red;
    grid-column: 1/-1;
    padding: 50px;
}

#yellow {
    background-color:yellow;
    grid-column: 1/-1;
    padding: 50px;
}

#blue {
    background-color:blue;
    color:white;
    grid-column: 1/2;
    padding: 50px;
}

#black {
    background-color:black;
    color:white;
    grid-column: 2/3;
    padding: 50px;
}