@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --solid-:#00d016;
}

body{
    background-color: #cfcfcf;
    font-family:Roboto, Arial, Helvetica, sans-serif;
}

.departureinfo h2{
    color: white;
    font-size: 28px;
    margin: -5px 0;
}

.departureinfo h4{
    margin: 12px 0;
}

.departureinfo{
    background-color: #001b36;
    color:#213b56;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
    font-size: 8px;
    padding: 12px 0 12px 0;
    filter:drop-shadow(5px,5px,8px,rgba(0,0,0,0.5))
}

.departureinfo img{
    margin-top: 20px;
}

#boardingpass{
    max-width:375px;
    background-color:white;
    margin: 40px auto;
    border-radius: 15px;
}

header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    padding:10px 10px 0 10px;
}

header .logo{
    text-align: left;
}

header .name{
    margin: auto 0;
    color:#3e5366;
    font-size: 11px;
}

.gateinfo{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f1f1f1;
    text-align: center;
    padding: 0 0 20px 0;
    color: #001b36;
}

.gateinfo h3{
    font-size: 12px;
    margin: 30px 0 0 0;
}

.gateinfo h5{
    font-size: 12px;
    margin: 0 0 0 0;
}

footer p {
    margin: 0 0;
    padding: 15px 0;
    color:#3e5366;
    font-size: 11px;
}

footer {
    text-align:center;
}