body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}

.content-box table{
    width:inherit;
    margin:0 auto;
    background-color:rgb(199, 203, 212);
    box-shadow: 5px 5px 0px black;
}

table, th, td{
  border: 2px solid black;
  border-collapse:collapse;
}

form{
  display:grid;
  grid-template-columns: 1fr 3fr;
  margin-left: 45px;
  margin-top: 20px;
  padding:10px;
  justify-self: left;
  background-color:rgb(199, 203, 212);
  box-shadow: 5px 5px 0px black;
}

label, input{
  text-align: right;
  margin: 2px 2px;
}

input{
  text-align: left;
}